{% extends "base.html" %}
{% block content %}
<div style="height: 10vh"></div>
<div class="main">
    <h3>ASMP</h3>
</div>
<div id="sect">
    <div id="circle">
        About Us
    </div>
    <div id="aboutbox">
        About Us text comes here in this box and will be shadowed unless hovered upon
    </div>
</div>


<div class="d-flex mb-3">
    <div class="p-2">
        The question goes here
    </div>
    <div class="p-2 ml-auto align-self-center">
        <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
            aria-controls="collapseExample">
            <img src="static/download.png" style="width: 30%;">
        </a>
    </div>
</div>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user
        activates the relevant trigger.
    </div>
</div>

<iframe width="50%" height="50%" src="https://www.youtube.com/embed/JwVR28XbZx8" autoplay="autoplay" muted="">
</iframe>


<h1>Testimonial Section</h1>
<div class="testimonials">
    <div id="testimonial">
        <div id="testimonial-image">
            <div id="the-image"><img
                    src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fimage.shutterstock.com%2Fimage-vector%2Fvector-testimonial-template-star-rating-260nw-1609269985.jpg&imgrefurl=https%3A%2F%2Fwww.shutterstock.com%2Fsearch%2Ftestimonial&tbnid=zjia9pNxwb0HAM&vet=12ahUKEwj09fbNwZXyAhUjsksFHT-aAvIQMygGegUIARDUAQ..i&docid=qGta9aZ5_yuqzM&w=433&h=280&q=testimonial&ved=2ahUKEwj09fbNwZXyAhUjsksFHT-aAvIQMygGegUIARDUAQ"
                    width="50%" height="100%"></div>
        </div>
        <div id="testimonial-paragraph">
            <p id="the-paragraph"> This is the paragraph which will be typical of a right para left image testimonial on
                the testimonials
                section of the website</p>
        </div>
    </div>
    <hr>
    <div id="testimonial">
        <div id="testimonial-paragraph">
            <p id="the-paragraph"> This is the paragraph which will be typical of a left para right image testimonial on
                the testimonials
                section of the website</p>
        </div>
        <div id="testimonial-image">
            <div id="the-image"><img
                    src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fimage.shutterstock.com%2Fimage-vector%2Fvector-testimonial-template-star-rating-260nw-1609269985.jpg&imgrefurl=https%3A%2F%2Fwww.shutterstock.com%2Fsearch%2Ftestimonial&tbnid=zjia9pNxwb0HAM&vet=12ahUKEwj09fbNwZXyAhUjsksFHT-aAvIQMygGegUIARDUAQ..i&docid=qGta9aZ5_yuqzM&w=433&h=280&q=testimonial&ved=2ahUKEwj09fbNwZXyAhUjsksFHT-aAvIQMygGegUIARDUAQ"
                    width="50%" height="100%"></div>
        </div>
    </div>
    <hr>
    <div id="testimonial">
        <div id="testimonial-image">
            <div id="the-image"><img
                    src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fimage.shutterstock.com%2Fimage-vector%2Fvector-testimonial-template-star-rating-260nw-1609269985.jpg&imgrefurl=https%3A%2F%2Fwww.shutterstock.com%2Fsearch%2Ftestimonial&tbnid=zjia9pNxwb0HAM&vet=12ahUKEwj09fbNwZXyAhUjsksFHT-aAvIQMygGegUIARDUAQ..i&docid=qGta9aZ5_yuqzM&w=433&h=280&q=testimonial&ved=2ahUKEwj09fbNwZXyAhUjsksFHT-aAvIQMygGegUIARDUAQ"
                    width="50%" height="100%"></div>
        </div>
        <div id="testimonial-paragraph">
            <p id="the-paragraph"> This is the paragraph which will be typical of a right para left image testimonial on
                the testimonials
                section of the website</p>
        </div>
    </div>
    <hr>
    <div id="testimonial">
        <div id="testimonial-paragraph">
            <p id="the-paragraph"> This is the paragraph which will be typical of a left para right image testimonial on
                the testimonials
                section of the website</p>
        </div>
        <div id="testimonial-image">
            <div id="the-image"><img
                    src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fimage.shutterstock.com%2Fimage-vector%2Fvector-testimonial-template-star-rating-260nw-1609269985.jpg&imgrefurl=https%3A%2F%2Fwww.shutterstock.com%2Fsearch%2Ftestimonial&tbnid=zjia9pNxwb0HAM&vet=12ahUKEwj09fbNwZXyAhUjsksFHT-aAvIQMygGegUIARDUAQ..i&docid=qGta9aZ5_yuqzM&w=433&h=280&q=testimonial&ved=2ahUKEwj09fbNwZXyAhUjsksFHT-aAvIQMygGegUIARDUAQ"
                    width="50%" height="100%"></div>
        </div>
    </div>
</div>


{% endblock %}