{% extends 'base.html' %}
{% block content %}
<h1 style="margin: 0.8rem">Your Profile</h1>
<div class="profnav">
    <ul>
      <li><a href="#page1">Update Personal<br>Information</a>
      <li><a href="#page2">Mentor Selection</a>
      <li><a href="#page3">Wishlist</a>
    </ul>
</div>
    <div class="content">
    
      <div id="page1"><!-- personal info -->
        <p>Personal Info Form</p>
      </div><!-- /page1 -->
      
      <div id="page2"><!-- Mentor Display -->
        <p>Mentor Cards</p>
      </div><!-- /page2 -->
      
      <div id="page3"><!-- page 3 -->
        <p>Your selected mentors</p>
      </div><!-- /page3 -->
    
    </div>
    {% endblock %}