{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'testimonial.css' %}"/>
</head>
<body>
    <div id="testimonial-heading">  
        <div id="testimonial-heading-text">
    <h1>Testimonials</h1>
    </div>
    </div>  
        <div id="testimonials">
            <div id="testimonial-box">
                <img src="videos/photo-1597404294360-feeeda04612e.jfif" id="testimonial-image" height="30%" width="25%">
                <h4 id="testimonial-name"> Mayank </h4>
                <small id="testimonial-subtitle">Aero</small>
                <p id="testimonial-text"><blockquote>
                    <br><br>The testimonial comes in this box which is rounded and will be arranged alternate
                left and right
            <br><br></blockquote></p>
            </div>
            <div id="testimonial-box">
                <img src="videos/photo-1597404294360-feeeda04612e.jfif" id="testimonial-image" height="30%" width="25%">
                <h4 id="testimonial-name"> Mayank </h4>
                <small id="testimonial-subtitle">Aero</small>
                <p id="testimonial-text">
                <blockquote>
                    <br><br>The testimonial comes in this box which is rounded and will be arranged alternate
                left and right
            <br><br></blockquote></p>
            </div>
            <div id="testimonial-box">
                <img src="videos/photo-1597404294360-feeeda04612e.jfif" id="testimonial-image" height="30%" width="25%">
                <h4 id="testimonial-name"> Mayank </h4>
                <small id="testimonial-subtitle">Aero</small>
                <p id="testimonial-text"><blockquote>
                    <br><br>The testimonial comes in this box which is rounded and will be arranged alternate
                left and right
            <br><br></blockquote></p>
            </div>
            <div id="testimonial-box">
                <img src="videos/photo-1597404294360-feeeda04612e.jfif" id="testimonial-image" height="30%" width="25%">
                <h4 id="testimonial-name"> Mayank </h4>
                <small id="testimonial-subtitle">Aero</small>
                <p id="testimonial-text"><blockquote>
                    <br><br>The testimonial comes in this box which is rounded and will be arranged alternate
                left and right
            <br><br></blockquote></p>
            </div>
        </div>
</body>
</html>